<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> PREDICTIVE MAINTANANCE OF MUCHINE FAILURE</h1> 
    <form action="/reglink" method="post">

<Select Type<select name="Type">
    <option value="M">Medium</option>
    <option value ="H">High</option>
    <option value ="L">Low</option>
    </select>
     <br>
Enter Air Temperature Value<input type="text" name="Air temperature [K]">
     <br>
Enter process temperature value<input type="text" name="Process temperature [K]">
    <br>
Enter rotational speed<input type="text" name="Rotational speed [rpm]">
    <br>
Enter Torque<input type="text" name="Torque [rnm]">
    <br>
Enter numner of Tool Wear<input type="text" name="tool wear [min]">
    <br>
Tool with Failure number<input type="text" name="TWF">
    <br>
Heat Discipation Failure<input type="text" name="HDF">
    <br>
Power with Failure<input type="text" name="PWF">
    <br>
Overstrain failure<input type="text" name="OSF">
    <br>
Random Failure<input type="text" name="RNF">
    <br>
    <br>
    <input type='submit' value='check'>
    
    
      </form>
</body>

</html>